@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

* {
  font-family: 'Outfit', sans-serif;
}

input[type="file"] {
  display: none;
}

label.upload-box {
  cursor: pointer;
  border: 2px dashed #ccc;
  transition: 0.3s;
  display: block;
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
}

label.upload-box:hover {
  border-color: #c586a5;
  background-color: #ffebf5;
}
