@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

* {
  font-family: 'Outfit', sans-serif;
}

input[type="file"] {
  display: none;
}

label.upload-box {
  cursor: pointer;
  border: 2px dashed #ccc;
  transition: 0.3s;
  display: block;
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
}

label.upload-box:hover {
  border-color: #c586a5;
  background-color: #ffebf5;
}
.main-content {
  margin-top: 56px; /* navbar height */
  margin-left: 220px; /* sidebar width */
  padding: 20px;
}
/* Sidebar Link Base Style */
.sidebar-link:hover .rounded {
  background-color: #e46da8; /* Bootstrap light */
}

/* Active NavLink Styling */
.active-link .rounded {
  background-color: #e9ecef; /* slightly darker than light */
  border-left: 2px solid #d3428b; /* Bootstrap primary */
  font-weight: 500;
}
.sidebar-link .rounded {
  transition: background-color 0.3s, border-left 0.3s;
}
