@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.font-prata {
  font-family: 'Prata', serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Outfit', sans-serif;
}

@media (max-width: 575.98px) {
  #navbarNav {
    justify-content: flex-end !important;
  }
}

.shimmer {
  position: relative;
  overflow: hidden;
  background: #e0e0e0;
}

.shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    left: -150px;
  }

  100% {
    left: 100%;
  }
}